header {
    padding-bottom: 150px;
    display: flex;
    justify-content: center;

    z-index: 9;
}

.header-radius {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    position: fixed;
    z-index: 9;
    margin-top: -20px;
}

.header__title {
    margin-left: 20px;
}