.top_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.page__title {
    font-size: 25px;
    border-bottom: 3px solid;
    padding-bottom: 2px;
}

.alphabet {
    font-size: 13px;
    margin-bottom: 50px;
}

.btn_episode {
    font-size: 10px;
}

.syno {
    margin-top: 75px;
}

.badge-categ {
    margin-top: 5px;
}

.title_alphabet {
    border-right: 1px solid;        
}

.section_alphabet {
    margin-bottom: 100px;
}